.subscribe {
    padding: 50px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(flex, column, no-wrap, space-between, flex-start);
    h2 {
        margin: 0;
    }
    p {
        width: 40%;
    }
    input {
        border: none;
        padding: 10px;
        display: inline-block;
        box-sizing: border-box;
        -webkit-appearance: none;
        -webkit-border-radius:0;
        -moz-border-radius:0; 
        border-radius:0;
        margin-right: 10px;
        width: 300px;
    }
}