.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  &-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(md) {
      margin-right: 40px;
    }
  }
  &-social {
    li {
      display: inline-block;
      margin-left: 5px;
      &:last-child {
        margin-left: 0;
      }
      a {
        display: flex;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        @include link-color($color-primary, $color-pink, none, none);
      }
    }
  }
  &-button {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    span {
      width: 20px;
      height: 2px;
      border-radius: 1px;
      background-color: $color-primary;
      @include position-absolute(9px, null, null, 5px);
      &:nth-child(2) {
        top: 14px;
      }
      &:last-child {
        top: 19px;
      }
    }
  }
}
.logo {
  float: left;
  height: 50px;
  &-image {
    margin-top: 15px;
  }
}
