body {
  background-color: $color-white;
  color: $color-text;
  font-display: optional;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-light;
  line-height: $line-height;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  font-family: $font-family-headings;
  font-weight: $font-weight-regular;
  line-height: 1.1;
  margin: $margin-heading 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a {
  transition: $transition;

  &:link,
  &:visited {
    color: $color-pink;
  }

  &:hover,
  &:active {
    color: $color-pink;
  }

  &:focus {
    outline: none;
  }
}

p {
  margin: $margin 0;
  @include breakpoint(md) {
    margin: $margin-mobile 0;
  }
}

b,
bold,
strong {
  font-weight: $font-weight-bold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-hr;
  margin: $margin auto;
  padding: 0;
}

input {
  border: none;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
