.article {
  margin: 20px 0;
  &-title {
    margin-top: 15px;
  }
  &-category {
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
    a {
      @include link-color($color-pink, $color-pink, none, none);
    }
  }
  &-image {
    position: relative;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
      display: block;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: hsla(334, 86.2, 75.1, 0.2);
    }
  }
  .read-more {
    text-decoration: none;
    display: table;
    position: relative;
    color: $color-pink !important;
    font-family: Scope One;
    font-style: inherit;
    font-size: 14px;
    text-transform: inherit;
    letter-spacing: normal;
    text-decoration: none;
    &:after {
      display: table;
      content: "";
      width: 40%;
      height: 1px;
      position: absolute;
      bottom: -3px;
      left: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $color-pink;
    }
    &:hover:after {
      width: 100%;
    }
  }
  &-social-share {
    text-align: center;
    margin-top: 20px;
    li {
      display: inline-block;
      position: relative;
      &:after {
        width: 1px;
        height: 30px;
        position: absolute;
        right: 0;
        top: -5px;
        content: "";
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
        background: rgb(238, 238, 238);
        background: rgba(238, 238, 238, 1);
      }
      &:last-child:after {
        content: unset;
      }
      a {
        margin: 0 20px;
        @include link-color($color-primary, $color-pink);
      }
    }
  }
}
