.wpcf7 {
  margin: 0 auto;
  width: clamp(300px, 70%, 700px);
  &-form {
    input:not([type="submit"]) {
      border: 1px solid $color-primary;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
    }
    input[type="checkbox"] {
      appearance: auto;
      margin-right: .5rem;
      width: 1rem;
      height: 1rem;
    }
  }
}