.feed {
  position: relative;
  margin: 50px 0;
  &-images {
    @include position-absolute(0, 0, 0, 0);
    display: flex;
  }
  .feed-link {
    @include link-color($color-pink, $color-pink, none, none);
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    h2 {
      padding: 0;
      margin: 0;
      text-decoration: none;
    }
    span {
      display: table;
      margin: 0 auto;
      padding: 5px 0 0;
    }
  }
}
