.search-form {
  height: $header-height;
  background-color: $color-primary;
  position: fixed;
  top: calc(#{$header-padding * 2});
  left: 0;
  right: 0;
  z-index: 1;
  transition: $transition;
  &.active {
    top: calc(#{$header-padding * 2} + #{$header-height});
  }
  form,
  input {
    width: 100%;
  }
  form {
    margin-top: 6px;
  }
}
