.search-form {
  height: 50px;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: $transition;
  &.active {
    top: 50px;
  }
  form,
  input {
    width: 100%;
  }
  form {
    margin-top: 6px;
  }
}
