.subscribe {
  position: relative;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(flex, column, no-wrap, space-between, flex-start);

  @include breakpoint(md) {
    height: auto;
  }
  &-content {
    padding: 50px;
    width: 100%;
    position: relative;
  }
  h2 {
    margin: 0;
  }
  p {
    width: 80%;
    @include breakpoint(md) {
      width: auto;
    }
  }
  .button {
    @include breakpoint(md) {
      width: 100%;
    }
  }
  input {
    margin-right: 10px;
    width: 300px;
    @include breakpoint(md) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
